streamlit==1.39.0
openai-whisper==20231117
PyPDF2==3.0.1
pdfplumber==0.11.4
python-docx==1.1.2
python-pptx==1.0.2
Pillow==10.4.0
requests==2.32.3
yt-dlp==2024.10.7
pytesseract==0.3.13
sentence-transformers==3.1.1
faiss-cpu==1.8.0
numpy==1.26.4
